<!DOCTYPE html>
<html>
<head>
  <title>Likmi &middot; <%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Lato:300,700", "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= yield %>

 
</body>
</html>
